:root {
    --primary-color: #E4E3E7;
    --secondary-color: #403741;
    --tertiary-color: #7E5C51;
    --alternate-color: #8C7668;
    --desktop-container: 86%;
    --mobile-container: 90%;
    --transition: all 0.3s linear;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

html,
body {
    width: auto;
    overflow-x: hidden;
}

body {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
    min-height: 100svh;
    line-height: 1.75;
}

.container {
    margin: 0 auto;
    width: var(--desktop-container);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

a {
    color: var(--secondary-color);
    transition: var(--transition);
}

a:hover {
    color: var(--tertiary-color);
}

h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    font-weight: lighter;
}

h1,
h2,
h3,
h4,
p {
    color: var(--secondary-color);
}


section {
    padding: 4.5rem 0;
}

section h2 {
    text-align: left;
    font-weight: lighter;
    width: var(--desktop-container);
    margin: 0 auto 4rem;
}

#navbar2,
#menu-btn {
    display: none;
}

.btn {
    padding: 5px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    transition: var(--transition);
    margin: 1rem auto;
    font-size: 1rem;
}

.btn:hover {
    background-color: transparent;
    color: var(--secondary-color);
}

/* end of general styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    background-color: var(--primary-color);
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;
}


nav svg {
    cursor: pointer;
    display: flex;
    align-self: center;
}

.logo {
    margin-left: 1rem;
    display: flex;
}

/* end of header styling */

section[id="home"] .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    place-items: center end;
}

.HomeArticle img {
    aspect-ratio: 16/9;
}

.Benefits {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
}

.BenefitsArticle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* end of home styling */

section[id="products"] .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    gap: 2rem;
}

.ProductsArticle img {
    aspect-ratio: 16/9;
}

.ProductsArticle {
    position: relative;
}

.TextOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    padding: 0 0.5rem;
    color: var(--primary-color);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.57));
}

/* end of products styling */

.Chart {
    position: relative;
    margin: auto;
    height: 60vh;
    width: 60vw;
}

/* end of benchmarks styling */

.ReviewsContainer {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
    line-height: 1.1;
}

.ReviewArticle {
    padding-top: 2rem;
    text-align: center;
}

.Avatar {
    width: 6rem;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.Image {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Review p {
    color: var(--primary-color);
    text-align: left;
}

.Review {
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-top: 1rem;
}

.mySwiper .swiper-pagination-bullet {
    background-color: var(--secondary-color);
}

/* end of reviews styling */

section[id="faq"] .container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    width: 37.5rem;
}

.Accordion {
    border-bottom: 2px solid var(--primary-color);
    padding: 0.5rem;
    cursor: pointer;
}

.AccordionQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.AccordionAnswer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionAnswer p {
    padding-top: 0.5rem;
}

.Accordion.active .AccordionAnswer {
    max-height: 300px;
}

.Accordion.active .AccordionQuestion .feather-chevron-down {
    transform: rotate(180deg);
}

.feather-chevron-down {
    min-width: 1rem;
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

/* end of faq styling*/

section[class="contact"] {
    background-color: var(--color-secondary);
}

section[class="contact"] .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    place-items: center;
}

form[action="contact-form"] {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset {
    border: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

input,
textarea,
select,
legend {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input,
textarea {
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

input:focus {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


textarea:focus {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

textarea:focus-visible {
    outline: 2px solid var(--secondary-color);
    border-radius: 3px;
}

label[class="label4"] input[type="submit"] {
    display: block;
    min-width: 60%;
    height: 2em;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--secondary-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--transition);
    border: 1px solid var(--primary-color);
}

section[class="contact"] aside {
    background-color: transparent;
    padding: 2rem;
}

aside h3 {
    /*font-size: 1.5rem;*/
    color: var(--color-primary);
    padding-bottom: 0.5rem;
}

.AsidePara {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}

section[class="contact"] article {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}

/* end of contact styling */